page-home {
  .background{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background-color: rgba(193, 194, 203, 0.99);
  }
  .card-background-page {

    width: 100vw;
    margin-left: -10px;
    margin-right:-10px;

    .card-title {
      position: absolute;
      top: 26%;
      left: 26%;
      //align-content: center;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }
  .event-cards {
    padding: 0;
    width: 100vw;
    margin-top: -13px;
    margin-left: -15px;
    //margin-right:15px;
  }
  .social-cards {
    padding: 0;
    width: 100vw;

    margin-left: -15px;
    //margin-right:15px;
  }

}
